#forecast {
    margin-left: 10px;
}

#today{
    background-color: transparent;
    border-color: red;
}

body {
    background-color: #8BC6EC;
background-image: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%);

    margin-left: 100px;
    font-family: 'Chivo', sans-serif;
    font-weight: 400;
    
}

h1{
    font-family: 'Chivo', sans-serif;
    font-weight: 900;
}

h3{
    font-family: 'Chivo', sans-serif;
    font-weight: 900;
   
}

.card{
    background-color: transparent;
    border-color: transparent;
}

.col-lg-2{
    margin-left: 200px;
}






